<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexBOX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="container">  
                    <div class="btn btn-primary">Div 1 sem uso do FlexBOX</div>
                    <div class="btn btn-success">DIV 2 SEM USO DO FLEXBOX</div>
                </div>
                <hr class="my-5">

                <!--D-FLEX OCUPA A LINHA INTEIRA-->
                <div class="container"> 
                    <div class="btn btn-primary d-flex">Div 1 usando d-flex</div>
                    <div class="btn btn-success d-flex">DIV 2 usando d-flex</div>
                </div>
                <hr class="my-5">


                <!--D-INLINE FICAM NA MESMA LINHA, COM OS OBJETOS COLADOS-->
                <div class="container"> 
                    <div class="btn btn-primary d-inline">Div 1 usando d-inline</div>
                    <div class="btn btn-success d-inline">DIV 2 usando d-inline</div>
                </div>
                <hr class="my-5">


                <!--D-BLOCK POSICIONAMENTO DE BLOCOS-->
                <div class="container"> 
                    <div class="btn btn-primary d-block">Div 1 usando d-block</div>
                    <div class="btn btn-success d-block">DIV 2 usando d-block</div>
                </div>
                <hr class="my-5">

                conteiner invisivel abaixo
                <div class="container"> 
                    <div class="btn btn-primary d-none d-block d-lg-block">Div 1 usando d-block</div>
                    <div class="btn btn-success d-none d-block d-md-block">DIV 2 usando d-block</div>
                </div>
                <hr class="my-5">

            </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>