<footer class="bg-dark py-4 my-2">
    <div class="container-fluid text-white">
        <div class="row justify-content-center">
            <div class="col-2 text-start">
                <h5 class="text-uppercase fw-bold text-info">
                    Quem somos?
                </h5>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="col-4 text-left">
                <h5 class="text-uppercase fw-bold text-info">
                    Onde queremos chegar
                </h5>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis
                    quaerat similique doloribus nisi pariatur tenetur alias corrupti!
                    Dolorum delectus consequatur mollitia consequuntur, impedit harum,
                    repudiandae vero quas saepe excepturi in!
                </p>
            </div>
            <div class="col-2">
                <h5 class="text-uppercase fw-bold text-info">
                    Siga-nos nas redes
                </h5>
                <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a href="#" class="text-white" style="text-decoration:none;"> Youtube </a>
                </p>
                <p>
                    <i class="fa-brands fa-github"></i>
                    <a href="#" class="text-white" style="text-decoration:none;"> GitHub </a>
                </p>
            </div>
        </div>
    </div>
</footer>