{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="UTF-8"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>Post Detail</title>
    </head>
    <body>
        
        <div class="container-fluid bg-dark mb-2">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <header class="bg-dark my-2">
                        {% include "fragments\navbar.html" %}                        
                    </header>
                </div>
            </div>
        </div>
        
        <main class="bg-light">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-8 border-start border-end">

                        <hr class="my-5" />

                        <div class="container-fluid">
                            <div class="flex-row d-flex my-2">
                                <h1>{{ post.titulo }}</h1>
                                
                                <span class="d-flex justify-content-center align-items-center ms-5">
                                    
                                    <a href="#">
                                        <span class="ms-5 text-decoration-none text-dark"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top"
                                            title="Compartilhar no instagram">
                                            <i class="fa-brands fa-instagram-square fa-2xl"></i>
                                        </span>
                                    </a>
                                    
                                    <a href="#">
                                        <span class="ms-5 text-decoration-none text-dark"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top"
                                            title="Compartilhar no facebook">
                                            <i class="fa-brands fa-facebook fa-2xl"></i>
                                        </span>
                                    </a>

                                    <a href="#">
                                        <span class="ms-5 text-decoration-none text-dark"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top"
                                            title="Compartilhar no twitter">
                                            <i class="fa-brands fa-twitter fa-2xl"></i>
                                        </span>
                                    </a>

                                    <a href="#">
                                        <span class="ms-5 text-decoration-none text-dark"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top"
                                            title="Compartilhar no instagram">
                                            <i class="fa-solid fa-link fa-2xl"></i>
                                        </span>
                                    </a>
                                </span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="rounded-circle border d-flex justify-content-center 
                                    align-items-center bg-info avatar">
                                    </div>

                                    <p class="mb-0">
                                        <span class=" text-muted justify-content-center">
                                            <span class="mx-2 h5">
                                                {{ post.autor }}
                                            </span>
                                            <span>
                                                <i class="fa-solid fa-clock"></i>
                                                <span>Tempo estimado de leitura: 30 minutos</span>
                                            </span>
                                            <br />
                                            <span class="mx-2">
                                                <i class="fa-solid fa-tag"></i> 
                                            </span>
                                            <span>
                                                <a href="#" class="text-decoration-none text-muted">#Básico</a>
                                            </span>
                                            <span>
                                                <a href="#" class="text-decoration-none text-muted">#Qualquer coisa</a>
                                            </span>
                                            <br/>
                                            <span class="mx-2">
                                                {{ post.subtitulo }}
                                            </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <hr class="my-5" />

                        <article class="fs-4 px-lg-5 mx-lg-2">
                            {{ post.conteudo|safe }}
                        </article>

                        <hr class="my-5" />

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-md-start justify-content-sm-center">

                                        <div class="span me-3 btn">
                                            <i class="fa-solid fa-heart fa-2xl"></i>Curtir
                                        </div>

                                        <div class="span me-3 btn">
                                            <i class="fa-regular fa-comment fa-2xl"></i> Comentar
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include "fragments/footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
