<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contato - Academia Python</title>
    </head>
    <body>
        Olá, <strong>{{ nome }}</strong>.Tudo bem?
        <br/>
        <br/>
        Você entrou em contato conosco para falar sobre <strong>{{ assunto }}</strong>
        <br/>
        Agradecemos imensamento sua mensagem e entraremos o mais rápido possível em contato
        Atenciosamente
        Vinicius Martins
    </body>
</html>
